---
const { platform, username } = Astro.props
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
<!-- MINHA TENTATIVA MANUAL
<a href="https://instagram.com/lidera.web">Instagram</a>
<a href="https://wa.me/+5531997734674">WhatsApp</a>
<a href="mailto:contato@lideraweb.com.br">contato@lideraweb.com.br</a>
-->